.main-view-container {
    width: 100%;

    padding: 90px 0px;
}

.background-filter {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* background-color: rgba(0, 50, 99, 0.5);
    backdrop-filter: grayscale(1) blur(10px);
    height: 100%; */
}
