.profile-image {
    height: auto;
    max-height: 30vh;
    border-radius: 5px;
}

.team-name {
    text-decoration: none;
    color: white;
    width: fit-content;
    font-size: 1.8rem;
    font-weight: 500;
}

.team-name:hover {
    text-decoration: underline;
    color: var(--angels-red);
}

@media (max-height: 450px) {
    .profile-image {
        max-height: none;
    }
}
