.custom-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px !important;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    max-height: 90%;
    min-width: 370px;
    margin: 10px;
    max-width: 386px;
    z-index: 0 !important;
}

@media (min-width: 1400px) {
    .custom-card {
        max-width: 429px;
    }
}
