.custom-footer-container {
    display: flex;
    justify-content: start;
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background-color: var(--angels-maroon);
    border-top: 10px solid var(--angles-blue);
    overflow-y: hidden;
    overflow-x: hidden;
}

/* footer uses the same tab class used in the navbar.css */
footer .tab {
    align-self: baseline;
}

@media (min-width: 899px) {
    .custom-footer-container {
        height: 90px;
    }
}
