h1 {
    text-align: center;
    color: white;
}

.App {
    text-align: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: grey;
}

@media (min-width: 899px) {
    .App {
        background-image: url("assets/baseball-field-background.jpg");
        background-size: cover;
        height: 100vh;
    }
}

.bold {
    font-weight: 600;
    font-size: larger;
}

@media (min-width: 768px) and (max-width: 991px) {
    .App {
        background-image: url("assets/baseball-field-background.jpg");
        background-size: cover;
    }
}
